.btn-primary {
    background-color: rgb(26, 188, 156);
}
body
{
    background-color: gray;
}
canvas
{
    pointer-events: none;       /* make the canvas transparent to the mouse - needed since canvas is position infront of image */
    position: absolute;
}

a.exclusive
{
    color: rgb(50, 118, 177);
}

.shorter
{
    max-height: 100px; 
}