{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
    Home
{% endblock title %}

{% block body %}
    <!-- +++++ Welcome Section +++++ -->
    <div id="ww">
        <div class="container">
            <div class="row">
                <img class="col-md-4 center-block img-responsive " src="{% static 'assets/img/twitter.png' %}" alt="Stanley">
                <div class="col-md-8 centered">
                    
                    <h1>TwitterFeed</h1>
                    <p>Welcome to <strong>TwitterFeed</strong>, a site designed to keep you updated on world events through the contributions of you - the people of the world.</p>
                    <p>TwitterFeed takes the top 10 trends from regions around the world, and stores 50 of their latest tweets here. Be the first to know as Twitter users around the world voice their thoughts.</p>
                
                </div><!-- /col-md-8 -->
            </div><!-- /row -->
        </div> <!-- /container -->
    </div><!-- /ww -->
    
    
    <!-- +++++ Information Section +++++ -->
    
    <div class="container pt">
        <div class="row mt centered">
            <div class="col-md-4">
                <h4>Worldwide</h4>
                <span class="glyphicon glyphicon-globe"></span>
                <p>TwitterFeed covers 20 regions around the world to keep trends and information as broad as possible.</p>
            </div>   
             <div class="col-md-4">
                <h4>Fast</h4>
                <span class="glyphicon glyphicon-fire"></span>
                <p>TwitterFeed updates every 30 minutes, 24/7, meaning the info here is as current as it gets.</p>
            </div>
            <div class="col-md-4">
                <h4>Accessible</h4>
                <span class="glyphicon glyphicon-user"></span>
                <p>TwitterFeed is free and open to everyone - meaning this stream can be used by anyone at anytime.</p>
            </div>

           

            
        </div><!-- /row -->
        
        <div class="row mt">
            <div class="col-md-6">
                <h4>THE WAY IT WORKS</h4>
                <p>Thanks to Twitter's public API, we can access tweet and trend information at any given time. By running a Python script 24/7, this data can be accessed and posted onto TwitterFeed all day long. That means more current info for the world and more awesomeness for you!</p>
            </div><!--/comd-md-6 -->
            
            <div class="col-md-6">
                <h4>THE RATINGS</h4>
                Coolness
                <div class="progress">
                    <div class="progress-bar progress-bar-theme" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                        <span class="sr-only">FULL</span>
                    </div>
                </div>

                Usefulness
                <div class="progress">
                    <div class="progress-bar progress-bar-theme" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                        <span class="sr-only">FULL</span>
                    </div>
                </div>
                
                Fun
                <div class="progress">
                    <div class="progress-bar progress-bar-theme" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                        <span class="sr-only">FULL</span>
                    </div>
                </div>

            </div><!-- /col-md-6 -->
        </div><!-- /row -->
    </div><!-- /container -->
    <div id="ww">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 centered">
                    <h1><a href="{% url 'trend_list_view' %}" class="btn-lg btn-primary">Get Started!</a></h1>
                </div><!-- /col-md-8 -->
            </div><!-- /row -->
        </div> <!-- /container -->
    </div><!-- /ww -->

    
    <!-- +++++ Footer Section +++++ -->
{% endblock %}