{% extends "base.html" %}

{% block title %}
    {{trend.name}}
{% endblock %}

{% block body %}
<div id="ww">
    <div class="container">
    <a href="javascript:history.back()" class="btn btn-default">Go Back</a>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h1>{{trend.name}}</h1>
                <h3>{{trend.name}} is trending in:</h3>
                <p>
                {% for location in trend.location.all %}
                    <a href="{% url 'location_detail' location.slug %}">{{location.name}}</a>{% if not forloop.last %}, {% endif %}
                {% endfor %}
                </p>
            </div>
        </div>
    </div>
</div>
<div id='tweets'>
    <div class="container pt">
        <h3>Tweet list</h3>
        <div class="row mt">   
            {% for tweet in trend.tweet_set.all %}
            <div class="col-md-4">
                <img src="{{tweet.profile_image.url}}">
                <p><strong>{{tweet.screen_name}}</strong>: {{tweet.text}}<br><a href="{% url 'tweet_detail' tweet.pk %}">-- see more info here!</a></p>
            </div>
            {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row mt">
                
        
            {% endif %}
            {% endfor %}
            </div>
            <hr>
            <a href="https://twitter.com/search?q={{trend.query}}" class="btn btn-primary text-center">See the search at twitter.com...</a>
        </div>
    </div>
</div>
{% endblock %}