<!DOCTYPE html>
<html>
<head>
    <title>{{trend.name}}</title>
</head>
<body>
    <h1>{{trend.name}}</h1>
    <h2><a href="https://twitter.com/search?q={{trend.query}}">You can search for yourself here!</a></h2>
    <h3>{{trend.name}} is trending in:</h3>
    {% for location in trend.location.all %}
        <p>{{location.name}}</p>
    {% endfor %}
    <h3>Tweet list</h3>
    {% for tweet in trend.tweet_set.all %}
        <p><strong>{{tweet.screen_name}}</strong>: {{tweet.text}} <a href="{% url 'tweet_detail' tweet.pk %}">-- see more info here!</a></p>
    {% endfor %}
    <hr>
    <a href="javascript:history.back()">Go Back</a>
</body>
</html>