{% extends "base.html" %}

{% block title %}
    {{tweet.text}}
{% endblock %}

{% block body %}
<div id="ww">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h1>Tweet posted on {{ tweet.created_at|date:"d/M/Y" }}</h1>
                <h2><img src="{{tweet.profile_image.url}}">  @{{tweet.screen_name}}</h2>
                 {% if tweet.location != None and tweet.location != "No location info" %}
                    <h4>Posted in {{tweet.location}}</h4>
                {% endif %}
                <hr>
                <h4>Tweet Text <span class="glyphicon small glyphicon-chevron-right"></span> {{tweet.text}}</h4>
            </div>
        </div>
    </div>
</div>
    
{% endblock %}